%h1 Usuarios

= render partial: 'layouts/pagination', locals: { collection: @users }

- if @users.any?
  .flex-wrap
    = render @users
- else
  %h3.itallics No hay usuarios

= render partial: 'layouts/pagination', locals: { collection: @users }
