h1, h3, h5 {
  text-align: center;
}

.itallics {
  font-style: italic;
}

.full-height {
  height: 100%;
}

.aligner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligner-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.user.well {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 15px;
}
