%nav.navbar.navbar-default
  .container-fluid

    .navbar-header
      %button{ type: 'button', class: 'navbar-toggle collapsed', :"data-toggle" => 'collapse', :"data-target" => '#nav-collapse' }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: users_path } Acid Biometric Auth
    #nav-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Nuevo usuario', new_user_path
